@model WebApplicationMVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "404";
}
<link href="favicon-light.ico" rel="icon" media="(prefers-color-scheme: light)" />
<link href="favicon-dark.ico" rel="icon" media="(prefers-color-scheme: dark)" />

<div class="row">
    <div class="col d-flex justify-content-center">
        <i class="bi bi-emoji-tear errorIcon" style="font-size: 200px;"></i>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <h1 class="errorH1">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <h2 class="errorH2">The page you requested was not found.</h2>
    </div>
</div>